@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto'),
          url('../assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src:
          local('Roboto'),
          url('../assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: block;
}
