html {
  height: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font:1.4rem 'Roboto', sans-serif;
  line-height: 1.6rem;
  font-weight: 400;
  color: #313131;
  background: #f3f8fb;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a,
input,
button {
  transition: 0.4s;
}
