*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}


input,
button,
label {
    font: inherit;
    border-radius: 0;
    outline: 0;
}

button {
    border: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

*:visited {
    color: inherit;
}
